
*, *::before, *::after {
  box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
  font-family: inherit;
}

img, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}
