:root {
    --margin-horizontal: 50px;
    --margin-vertical: 35px;
    --gap: 25px;
    
    /* Tipografia */
    --font-family-primary: "Catamaran";
    --font-family-secundary: "Montserrat";

    --font-size-primary-1: 1.5rem;
    --font-size-primary-2: 2rem;
    --font-size-primary-3: 2.5rem;
    --font-size-primary-4: 3rem;

    --font-size-secundary-1: 0.6rem;
    --font-size-secundary-2: 1rem;
    --font-size-secundary-3: 1.2rem;

    /* Cor */
    --gradient-edge-glow: linear-gradient(
        0deg,#E60023 0%, #FF4D6A 50%, #E60023 100%);
}


@media (prefers-color-scheme: dark) {
    :root {
    --bg-color-1: radial-gradient(142.07% 64.4% at 50% 46.87%, #2b0909 100%, rgba(57, 15, 15, 0.5) 0%);
    --bg-color-2: #262626;
    --bg-color-3: #595959;
    --bg-color-hobbie-card: linear-gradient(180deg, #1A1A1A 0%, #0A0A0A 93.27%);
    --bg-color-tech-icon: rgba(255, 0, 0, 0.25);

    --btn-color-1: #E60023;

    --text-color-1: #ffffff;
    --text-color-2: #C4C4C4;
    --text-color-3: var(--gradient-edge-glow);

    --shadow-color-1: #7F0013;
    --shadow-color-2: #ffffff;

    --hover-color-1: rgba(255, 0, 0, 0.15);
    }

}

html.dark {
    --bg-color-1: radial-gradient(142.07% 64.4% at 50% 46.87%, #2b0909 100%, rgba(57, 15, 15, 0.5) 0%);
    --bg-color-2: #262626;
    --bg-color-3: #595959;
    --bg-color-hobbie-card: linear-gradient(180deg, #1A1A1A 0%, #0A0A0A 93.27%);
    --bg-color-tech-icon: rgba(255, 0, 0, 0.25);

    --btn-color-1: #E60023;

    --text-color-1: #ffffff;
    --text-color-2: #C4C4C4;
    --text-color-3: var(--gradient-edge-glow);

    --shadow-color-1: #7F0013;
    --shadow-color-2: #ffffff;

    --hover-color-1: rgba(255, 0, 0, 0.15);

}

html.light {
    --bg-color-1: radial-gradient(142.07% 54.4% at 50% 46.87%, #FFEAEA 0%, rgba(255, 234, 234, 0.75) 100%);
    --bg-color-2: #BFBFBF;
    --bg-color-3: #595959;
    --bg-color-hobbie-card: var(--bg-color-1);
    --bg-color-tech-icon: var(--bg-color-1);

    --btn-color-1: #E60023;

    --text-color-1: #121212;
    --text-color-2: #D90021;
    --text-color-3: #7F0013;

    --shadow-color-1: #262626;
    --shadow-color-2: #000000;

    --hover-color-1: linear-gradient(180deg, rgba(255, 255, 255, 0.75) -7.53%, rgba(46, 45, 45, 0.5625) 101.28%);
}