/* 
==========================================================================
SETTINGS - Design Tokens
Variables, design tokens, configuration
========================================================================== */

:root {
	/* Spacing */
	--margin-horizontal: 3rem;
	--margin-vertical: 2rem;
	--gap: 25px;

	/* Typography */
	--font-family-primary: "Catamaran";
	--font-family-secundary: "Montserrat";

	--font-size-primary-1: 1.5rem;
	--font-size-primary-2: 2rem;
	--font-size-primary-3: 2.5rem;
	--font-size-primary-4: 3rem;

	--font-size-secundary-1: 0.6rem;
	--font-size-secundary-2: 1rem;
	--font-size-secundary-3: 1.2rem;

	/* Colors */
	--gradient-edge-glow: linear-gradient(0deg, #e60023 0%, #ff4d6a 50%, #e60023 100%);
}

/* Dark Theme (System Preference) */
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color-1: radial-gradient(142.07% 64.4% at 50% 46.87%, #2b0909 100%, rgba(57, 15, 15, 0.5) 0%);
		--bg-color-2: #262626;
		--bg-color-3: #595959;
		--bg-color-hobbie-card: linear-gradient(180deg, #1a1a1a 0%, #0a0a0a 93.27%);
		--bg-color-tech-icon: rgba(255, 0, 0, 0.25);

		--btn-color-1: #e60023;

		--text-color-1: #ffffff;
		--text-color-2: #c4c4c4;
		--text-color-3: var(--gradient-edge-glow);

		--shadow-color-1: #7f0013;
		--shadow-color-2: #ffffff;

		--hover-color-1: rgba(255, 0, 0, 0.15);
	}
}

/* Dark Theme (Manual) */
html.dark {
	--bg-color-1: radial-gradient(142.07% 64.4% at 50% 46.87%, #2b0909 100%, rgba(57, 15, 15, 0.5) 0%);
	--bg-color-2: #262626;
	--bg-color-3: #595959;
	--bg-color-hobbie-card: linear-gradient(180deg, #1a1a1a 0%, #0a0a0a 93.27%);
	--bg-color-tech-icon: rgba(255, 0, 0, 0.25);
	--bg-color-project-small: #1c1c1c;

	--btn-color-1: #e60023;

	--text-color-1: #ffffff;
	--text-color-2: #c4c4c4;
	--text-color-3: var(--gradient-edge-glow);

	--shadow-color-1: #7f0013;
	--shadow-color-2: #ffffff;

	--hover-color-1: rgba(255, 0, 0, 0.15);
}

/* Light Theme */
html.light {
	--bg-color-1: radial-gradient(142.07% 54.4% at 50% 46.87%, #ffeaea 0%, rgba(255, 234, 234, 0.75) 100%);
	--bg-color-2: #bfbfbf;
	--bg-color-3: #595959;
	--bg-color-hobbie-card: var(--bg-color-1);
	--bg-color-tech-icon: var(--bg-color-1);
	--bg-color-project-small: var(--bg-color-2);

	--btn-color-1: #e60023;

	--text-color-1: #121212;
	--text-color-2: #d90021;
	--text-color-3: #7f0013;

	--shadow-color-1: #262626;
	--shadow-color-2: #000000;

	--hover-color-1: linear-gradient(180deg, rgba(255, 255, 255, 0.75) -7.53%, rgba(46, 45, 45, 0.5625) 101.28%);
}
