/* 
==========================================================================
ELEMENTS - Base HTML Elements
Bare, unclassed HTML element styles
========================================================================== 
*/

html {
 	scroll-behavior: smooth;
}

body {
	background: var(--bg-color-1);
	background-attachment: fixed;
	background-size: cover;
	color: var(--text-color-1);
}

* {
  	font-family: var(--font-family-secundary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  	font-family: var(--font-family-primary);
}

h2 {
	font-size: var(--font-size-primary-3);
	font-weight: 500;
}

a {
  	position: relative;
}