/* 
==========================================================================
UTILITIES - Helper Classes
Single-purpose utility classes, overrides
==========================================================================
*/

.u-gradient-text {
    background: var(--gradient-edge-glow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


/*
==========================================================================
ANIMATION - Let make the site alive
==========================================================================
*/


.scroll-reveal.active .scroll-reveal__section {
    view-timeline-name: --section;
    animation-timeline: --section;
    animation-name: reveal;
    animation-fill-mode: both;
    animation-duration: 1ms;
    animation-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    animation-range: entry 40% cover 25%;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(-100%) scale(0.98);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);

    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/*
==========================================================================
RESPONSIVE - Mobile First
==========================================================================
*/

@media (max-width: 768px) {
    :root {
        font-size: 8px;
    }

    svg {
        width: 2rem;
        height: 2rem;
    }

    .main {
        gap: 0;
    }

    .nav {
        gap: 1rem;
    }

    .header {
        gap: 2rem;
    }

    .main > section {
        margin: var(--margin-vertical) var(--margin-horizontal);
    }

    /* About Section */
    .about {
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column;
    }

    .about__description {
        max-width: 350px;
    }

    .social-icons {
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .social-icons__item {
        min-width: 3rem;
        min-height: 3rem;
    }

    /* Philosophy Section */

    .philosophy h2 {
        margin: 0;
    }

    .philosophy__container {
      flex-direction: column;
        gap: 20px;
    }

    .philosophy__container > div {
        gap: 20px;
    }

    .philosophy__container hr {
        display: none;
    }

    .philosophy__column--right {
        margin-top: 0px;
    }

    .philosophy__card--phantom {
        display: none;
    }

    .philosophy__card:after {
        display: none;
    }

    /* Knowledge Section */
    .knowledge h2 {
        margin: 0;
    }

    .tech-stack {
        padding: 0;
        gap: 5px;
        row-gap: 35px;
        transform: scale(0.8);
    }

    .tech-stack svg {
        width: 5rem;
        height: 5rem;
    }

    .tech-stack__item:hover::after {
        transform: translateY(15px);
    }

    /* Projects Section */
    .project-grid {
        flex-direction: column;
    }

    /* Hobbies Section */
    .hobbies,
    .hobbies * {
        padding: 0;
        margin: 10px;
    }

    .hobbies * > small {
        margin: 0;
        padding: 5px;
    }

    .hobbies {
        align-items: center;
        gap: 0;
    }

    .hobby__content {
        gap: 0;
    }

    .hobbies__list::after {
        display: none;
    }

    .hobby::after {
        display: none;
    }

    /* Footer */
    .contact-icons {
        flex-wrap: wrap;
    }
}
