/* 
==========================================================================
COMPONENTS
========================================================================== 
*/

.configuration {
    display: flex;
}

/* Theme Toggle */

.theme-toggle__icon {
    display: none;
}

html.dark #dark-theme {
    display: block;
}

html.light #light-theme {
    display: block;
}
