/* 
==========================================================================
SETTINGS - Design Tokens
Variables, design tokens, configuration
========================================================================== */

:root {
	/* Spacing */
	--margin-horizontal: 3rem;
	--margin-vertical: 2rem;
	--gap: 25px;

	/* Typography */
	--font-family-primary: "Catamaran";
	--font-family-secundary: "Montserrat";

	--font-size-primary-1: 1.5rem;
	--font-size-primary-2: 2rem;
	--font-size-primary-3: 2.5rem;
	--font-size-primary-4: 3rem;

	--font-size-secundary-1: 0.6rem;
	--font-size-secundary-2: 1rem;
	--font-size-secundary-3: 1.2rem;

	/* Colors */
	--gradient-edge-glow: linear-gradient(0deg, #e60023 0%, #ff4d6a 50%, #e60023 100%);
}

/* Dark Theme (System Preference) */
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color-1: radial-gradient(142.07% 64.4% at 50% 46.87%, #2b0909 100%, rgba(57, 15, 15, 0.5) 0%);
		--bg-color-2: #262626;
		--bg-color-3: #595959;
		--bg-color-hobbie-card: linear-gradient(180deg, #1a1a1a 0%, #0a0a0a 93.27%);
		--bg-color-tech-icon: rgba(255, 0, 0, 0.25);

		--btn-color-1: #e60023;

		--text-color-1: #ffffff;
		--text-color-2: #c4c4c4;
		--text-color-3: var(--gradient-edge-glow);

		--shadow-color-1: #7f0013;
		--shadow-color-2: #ffffff;

		--hover-color-1: rgba(255, 0, 0, 0.15);
	}
}

/* Dark Theme (Manual) */
html.dark {
	--bg-color-1: radial-gradient(142.07% 64.4% at 50% 46.87%, #2b0909 100%, rgba(57, 15, 15, 0.5) 0%);
	--bg-color-2: #262626;
	--bg-color-3: #595959;
	--bg-color-hobbie-card: linear-gradient(180deg, #1a1a1a 0%, #0a0a0a 93.27%);
	--bg-color-tech-icon: rgba(255, 0, 0, 0.25);
	--bg-color-project-small: #1c1c1c;

	--btn-color-1: #e60023;

	--text-color-1: #ffffff;
	--text-color-2: #c4c4c4;
	--text-color-3: var(--gradient-edge-glow);

	--shadow-color-1: #7f0013;
	--shadow-color-2: #ffffff;

	--hover-color-1: rgba(255, 0, 0, 0.15);
}

/* Light Theme */
html.light {
	--bg-color-1: radial-gradient(142.07% 54.4% at 50% 46.87%, #ffeaea 0%, rgba(255, 234, 234, 0.75) 100%);
	--bg-color-2: #bfbfbf;
	--bg-color-3: #595959;
	--bg-color-hobbie-card: var(--bg-color-1);
	--bg-color-tech-icon: var(--bg-color-1);
	--bg-color-project-small: var(--bg-color-2);

	--btn-color-1: #e60023;

	--text-color-1: #121212;
	--text-color-2: #d90021;
	--text-color-3: #7f0013;

	--shadow-color-1: #262626;
	--shadow-color-2: #000000;

	--hover-color-1: linear-gradient(180deg, rgba(255, 255, 255, 0.75) -7.53%, rgba(46, 45, 45, 0.5625) 101.28%);
}

/* 
==========================================================================
GENERIC - CSS Resets
Browser resets, normalize
========================================================================== 
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: inherit;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
  	font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

/* 
==========================================================================
ELEMENTS - Base HTML Elements
Bare, unclassed HTML element styles
========================================================================== 
*/

html {
 	scroll-behavior: smooth;
}

body {
	background: var(--bg-color-1);
	background-attachment: fixed;
	background-size: cover;
	color: var(--text-color-1);
}

* {
  	font-family: var(--font-family-secundary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  	font-family: var(--font-family-primary);
}

h2 {
	font-size: var(--font-size-primary-3);
	font-weight: 500;
}

a {
  	position: relative;
}

/* 
==========================================================================
OBJECTS - Layout Patterns
OOCSS layout patterns, containers, wrappers
==========================================================================
*/

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main > section {
    margin: var(--margin-vertical) var(--margin-horizontal);
}


/* 
==========================================================================
COMPONENT - Header
==========================================================================
*/

.header {
    margin: var(--margin-vertical) var(--margin-horizontal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: var(--font-size-primary-2);
    font-weight: 300;
    letter-spacing: 0.3rem;
}

.header__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

/* 
==========================================================================
COMPONENT - Navigation
==========================================================================
*/

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    font-size: var(--font-size-primary-1);
    flex-wrap: wrap;
}

.nav__link::before {
    content: "";
    position: absolute;
    bottom: -60%;
    left: 2px;
    width: 100%;
    height: 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 55 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='1%25' stop-color='%234C000C'/%3E%3Cstop offset='99%25' stop-color='%231C1C1C'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M49.0221 3.67429L54.008 6.09035L54.0419 0.316943L49.028 2.67431L49.0221 3.67429ZM5.01948 2.41602L0.0335749 -3.605e-05L-0.000309631 5.77337L5.01361 3.416L5.01948 2.41602ZM49.525 3.17723L49.528 2.67724L4.51949 2.41308L4.51656 2.91308L4.51362 3.41307L49.5221 3.67723L49.525 3.17723Z' fill='url(%23g)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

.nav__link:hover::before {
    transform: scaleX(1);
}

.nav__link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* 
==========================================================================
COMPONENTS
========================================================================== 
*/

.configuration {
    display: flex;
}

/* Theme Toggle */

.theme-toggle__icon {
    display: none;
}

html.dark #dark-theme {
    display: block;
}

html.light #light-theme {
    display: block;
}

/* 
==========================================================================
COMPONENT - About Section
========================================================================== 
*/

.about {
	padding-top: 70px;
	padding-bottom: 125px;
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 55vh;
	gap: 50px;
	margin-bottom: 50px;
}

.about__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.about__content > p:first-child {
  	font-weight: bold;
}

.about__content > p {
  	font-family: var(--font-family-secundary);
}

.about__title {
	font-size: var(--font-size-primary-4);
	letter-spacing: 10px;
	font-weight: 500;
}

/* 
==========================================================================
COMPONENT - Social Icons
==========================================================================
*/

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 45px;
    gap: 25px;
}

.social-icons__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 48px;
    min-height: 48px;
    border-radius: 4px;
}

.social-icons__item--circle {
    border-radius: 100%;
}



/* 
==========================================================================
COMPONENT - Profile
==========================================================================
*/

.profile {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__image {
    width: 100%;
    max-width: 300px;
}

/* 
==========================================================================
COMPONENT - Philosophy Section
========================================================================== 
*/

.philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.philosophy__container {
    position: relative;
    display: flex;
    gap: 75px;
}

.philosophy__column {
    gap: 150px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.philosophy__card {
    position: relative;
    flex: 1;
    background: var(--bg-color-1);
    box-shadow: 0 0 10px -3px var(--shadow-color-2);
    padding: 25px;
    border-radius: 1.5rem;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.philosophy__card:hover {
    border: 2px solid var(--shadow-color-1);
}

.philosophy__card-title {
    font-size: var(--font-size-primary-2);
    font-weight: 500;
}

.philosophy__card-text {
    font-size: var(--font-size-secundary-2);
    font-family: var(--font-family-secundary);
}

.philosophy__card--phantom {
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.philosophy__card--phantom::after {
    display: none;
}

.philosophy__column--right .philosophy__card::after {
    content: "";
    position: absolute;
    top: 40%;
    left: -89px;
    width: 90px;
    height: 1px;
    background: white;
    transform: translateY(-50%) rotate(45deg);
}

.philosophy__column--left .philosophy__card::after {
    content: "";
    position: absolute;
    top: 40%;
    width: 90px;
    height: 1px;
    background: white;
    right: -89px;
    transform: translateY(-50%) rotate(-45deg);
}

.philosophy__connector,
.philosophy__card:after {
    border: 1px solid var(--text-color-1);
    box-shadow: 0px 0px 8px var(--shadow-color-2);
}


/* 
==========================================================================
COMPONENT - Knowledge Section
==========================================================================
*/

.knowledge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.tech-stack {
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    row-gap: 100px;
}

.tech-stack__item {
    position: relative;
    background-color: var(--bg-color-tech-icon);
    padding: 10px;
    border-radius: 16px;
}

.tech-stack__item:hover {
    background: var(--hover-color-1);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: scale(1.1);
}

.tech-stack__item:hover::after {
    content: attr(data-label);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--hover-color-1);
    transform: translateY(30px);
}

/* 
==========================================================================
COMPONENT - Projects Section
==========================================================================
*/

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.project-grid {
    flex: 1;
    display: flex;
    gap: 25px;
    align-items: stretch;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid #595959;
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
}

.project:hover {
    border: 1px solid var(--btn-color-1);
    box-shadow: 0 0 20px var(--shadow-color-1);
}

.project__image {
    object-fit: fill;
    aspect-ratio: 3 / 3;
}

.project__content {
    flex: 3;
    background-color: var(--bg-color-2);
    padding: 15px;
}

.project__description {
    font-size: var(--font-size-secundary-3);
}

.project__tags {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.project__tag {
    padding: 5px 15px;
    border-radius: 4px;
    background-color: var(--bg-color-project-small);
    color: var(--btn-color-1);
}

/*
==========================================================================
COMPONENT - Hobbies Section
==========================================================================
*/

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
    gap: 25px;
    padding: 75px;
}

.hobbies__title {
    margin: 0;
}

.hobbies__subtitle {
    font-size: var(--font-size-secundary-2);
}

.hobbies__list {
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hobbies__list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 75px;
    height: 100%;
    border: 1px solid var(--bg-color-3);
    z-index: -1;
}

.hobby {
    position: relative;
    display: flex;
    margin-left: 140px;
    background: var(--bg-color-hobbie-card);
    padding: 25px 25px 25px 0;
    box-shadow: -3px 0 rgba(138, 0, 18, 0.6), 0 0 20px -10px var(--shadow-color-1);
    border-radius: 16px;
}

.hobby::after {
    content: "";
    position: absolute;
    top: 0;
    left: -72px;
    border: 8px solid var(--btn-color-1);
    border-radius: 100%;
}

.hobby__number {
    display: flex;
    align-items: start;
    font-size: var(--font-size-primary-3);
    font-family: var(--font-family-primary);
    padding: 0 25px;
}

.hobby__content {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hobby__title {
    font-size: var(--font-size-primary-2);
    font-weight: 400;
}

.hobby__tags {
    display: flex;
    gap: 25px;
}

.hobby__tag {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #404040;
    background-color: var(--bg-color-2);
    color: var(--text-color-3);
}

html.dark .hobby__tag {
    background: var(--gradient-edge-glow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* 
==========================================================================
COMPONENT - Footer
==========================================================================
*/

.footer {
    margin: var(--margin-horizontal) var(--margin-vertical);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}


/* 
==========================================================================
COMPONENT - Contact Icons
==========================================================================
*/

.contact-icons {
    display: flex;
    gap: 10px;
}
