
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* variáveis que podem ser úteis :D */
:root {
    --primary-color: grey;
    --secundary-color: rgba(114, 113, 113, 0.4);
    --shadow-color: rgba(90, 90, 90, 0.5);
}

.central {
    --bg-card: url(assets/centralBG.png);
    --glass-border: rgba(255, 255, 255, 0.2);
    --text-white: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient(at center, grey 10%, darkgrey  40%, white 120%);
    min-height: 100vh;
    display: flex; align-items: center; justify-content: center;

    * {
        color: var(--text-white);
    }
}

.central {
    background-image: var(--bg-card);
    background-size: cover;
    background-position:center; 
    background-repeat: no-repeat;
    
    display: flex; flex-direction: column;
    margin: 100px 50px;
    padding: 30px;
    border-radius: 16px;
    max-width: 1000px;

    box-shadow: 0 36px 120px black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    nav ul{
        display: flex;
        gap: 30px;

        li {
            list-style: none;

            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.search-button {
    width: 30px;
    border: 0;
    border-radius: 8px;
    padding: 4px;
    background-color: var(--secundary-color);
}

.search-button:hover{
    box-shadow: 0 0 5px var(--shadow-color);
    transform: scale(1.1);
}

.info-wrapper {
    display: flex;
    padding: 50px 100px;
    margin: 50px 0 100px 00px;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 300px;
}

.info-container {
    h3 {
        font-size: 1rem;
        letter-spacing: 16px;
    }
    h1 {
        font-size: 5rem;
        letter-spacing: 4px;
        margin-bottom: 20px;
    }
    p {
        max-width: 80%;
    }
}

.button-change {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3 1 50px;
    gap: 15px;
}

.button-change button {
    background-color: rgba(128, 128, 128, 0.23);
    padding: 15px 15px;
    border: 0;
    border-radius: 8px;
}

.button-change button:hover {
    box-shadow: 0 0 5px var(--shadow-color);
    transform: scale(1.1);
}

.video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.video-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.video-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    width: 200px;
    height: 250px;
    background-color: black;
    flex: 0 1 150px;
    justify-content: space-between;
}

.video-card img {
    position: inherit;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 10px;
    z-index: 2;
}

.video-card p {
    position: inherit;
    z-index: 2;
    padding: 10px;
    align-self: center;
    text-align: left;
    font-weight: 600;
}

.video-card video {
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


@media (max-width: 750px) {
    
    .central {
        width: 95%;
    }
    
    .navbar {
        padding: 0 ;
        nav ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    
    .info-wrapper {
        flex-direction: column;
        margin-bottom: 0;
    }

    .video-card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .video-card {
        background-color: black;
        flex: 1 1 150px;
        justify-content: space-between;
    }
}

