/* 
==========================================================================
OBJECTS - Layout Patterns
OOCSS layout patterns, containers, wrappers
==========================================================================
*/

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main > section {
    margin: var(--margin-vertical) var(--margin-horizontal);
}

