/* 
==========================================================================
COMPONENT - About Section
========================================================================== 
*/

.about {
	padding-top: 70px;
	padding-bottom: 125px;
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 55vh;
	gap: 50px;
	margin-bottom: 50px;
}

.about__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.about__content > p:first-child {
  	font-weight: bold;
}

.about__content > p {
  	font-family: var(--font-family-secundary);
}

.about__title {
	font-size: var(--font-size-primary-4);
	letter-spacing: 10px;
	font-weight: 500;
}
