/* 
==========================================================================
COMPONENT - Contact Icons
==========================================================================
*/

.contact-icons {
    display: flex;
    gap: 10px;
}
