/* 
==========================================================================
COMPONENT - Footer
==========================================================================
*/

.footer {
    margin: var(--margin-horizontal) var(--margin-vertical);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
