/* 
==========================================================================
COMPONENT - Header
==========================================================================
*/

.header {
    margin: var(--margin-vertical) var(--margin-horizontal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: var(--font-size-primary-2);
    font-weight: 300;
    letter-spacing: 0.3rem;
}

.header__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}
