/*
==========================================================================
COMPONENT - Hobbies Section
==========================================================================
*/

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
    gap: 25px;
    padding: 75px;
}

.hobbies__title {
    margin: 0;
}

.hobbies__subtitle {
    font-size: var(--font-size-secundary-2);
}

.hobbies__list {
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hobbies__list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 75px;
    height: 100%;
    border: 1px solid var(--bg-color-3);
    z-index: -1;
}

.hobby {
    position: relative;
    display: flex;
    margin-left: 140px;
    background: var(--bg-color-hobbie-card);
    padding: 25px 25px 25px 0;
    box-shadow: -3px 0 rgba(138, 0, 18, 0.6), 0 0 20px -10px var(--shadow-color-1);
    border-radius: 16px;
}

.hobby::after {
    content: "";
    position: absolute;
    top: 0;
    left: -72px;
    border: 8px solid var(--btn-color-1);
    border-radius: 100%;
}

.hobby__number {
    display: flex;
    align-items: start;
    font-size: var(--font-size-primary-3);
    font-family: var(--font-family-primary);
    padding: 0 25px;
}

.hobby__content {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hobby__title {
    font-size: var(--font-size-primary-2);
    font-weight: 400;
}

.hobby__tags {
    display: flex;
    gap: 25px;
}

.hobby__tag {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #404040;
    background-color: var(--bg-color-2);
    color: var(--text-color-3);
}

html.dark .hobby__tag {
    background: var(--gradient-edge-glow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
