/* 
==========================================================================
COMPONENT - Knowledge Section
==========================================================================
*/

.knowledge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.tech-stack {
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    row-gap: 100px;
}

.tech-stack__item {
    position: relative;
    background-color: var(--bg-color-tech-icon);
    padding: 10px;
    border-radius: 16px;
}

.tech-stack__item:hover {
    background: var(--hover-color-1);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: scale(1.1);
}

.tech-stack__item:hover::after {
    content: attr(data-label);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--hover-color-1);
    transform: translateY(30px);
}
