/* 
==========================================================================
COMPONENT - Navigation
==========================================================================
*/

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    font-size: var(--font-size-primary-1);
    flex-wrap: wrap;
}

.nav__link::before {
    content: "";
    position: absolute;
    bottom: -60%;
    left: 2px;
    width: 100%;
    height: 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 55 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='1%25' stop-color='%234C000C'/%3E%3Cstop offset='99%25' stop-color='%231C1C1C'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M49.0221 3.67429L54.008 6.09035L54.0419 0.316943L49.028 2.67431L49.0221 3.67429ZM5.01948 2.41602L0.0335749 -3.605e-05L-0.000309631 5.77337L5.01361 3.416L5.01948 2.41602ZM49.525 3.17723L49.528 2.67724L4.51949 2.41308L4.51656 2.91308L4.51362 3.41307L49.5221 3.67723L49.525 3.17723Z' fill='url(%23g)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

.nav__link:hover::before {
    transform: scaleX(1);
}

.nav__link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}