/* 
==========================================================================
COMPONENT - Philosophy Section
========================================================================== 
*/

.philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.philosophy__container {
    position: relative;
    display: flex;
    gap: 75px;
}

.philosophy__column {
    gap: 150px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.philosophy__card {
    position: relative;
    flex: 1;
    background: var(--bg-color-1);
    box-shadow: 0 0 10px -3px var(--shadow-color-2);
    padding: 25px;
    border-radius: 1.5rem;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.philosophy__card:hover {
    border: 2px solid var(--shadow-color-1);
}

.philosophy__card-title {
    font-size: var(--font-size-primary-2);
    font-weight: 500;
}

.philosophy__card-text {
    font-size: var(--font-size-secundary-2);
    font-family: var(--font-family-secundary);
}

.philosophy__card--phantom {
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.philosophy__card--phantom::after {
    display: none;
}

.philosophy__column--right .philosophy__card::after {
    content: "";
    position: absolute;
    top: 40%;
    left: -89px;
    width: 90px;
    height: 1px;
    background: white;
    transform: translateY(-50%) rotate(45deg);
}

.philosophy__column--left .philosophy__card::after {
    content: "";
    position: absolute;
    top: 40%;
    width: 90px;
    height: 1px;
    background: white;
    right: -89px;
    transform: translateY(-50%) rotate(-45deg);
}

.philosophy__connector,
.philosophy__card:after {
    border: 1px solid var(--text-color-1);
    box-shadow: 0px 0px 8px var(--shadow-color-2);
}
