/* 
==========================================================================
COMPONENT - Profile
==========================================================================
*/

.profile {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__image {
    width: 100%;
    max-width: 300px;
}
