/* 
==========================================================================
COMPONENT - Projects Section
==========================================================================
*/

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.project-grid {
    flex: 1;
    display: flex;
    gap: 25px;
    align-items: stretch;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid #595959;
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
}

.project:hover {
    border: 1px solid var(--btn-color-1);
    box-shadow: 0 0 20px var(--shadow-color-1);
}

.project__image {
    object-fit: fill;
    aspect-ratio: 3 / 3;
}

.project__content {
    flex: 3;
    background-color: var(--bg-color-2);
    padding: 15px;
}

.project__description {
    font-size: var(--font-size-secundary-3);
}

.project__tags {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.project__tag {
    padding: 5px 15px;
    border-radius: 4px;
    background-color: var(--bg-color-project-small);
    color: var(--btn-color-1);
}
