/* 
==========================================================================
COMPONENT - Social Icons
==========================================================================
*/

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 45px;
    gap: 25px;
}

.social-icons__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 48px;
    min-height: 48px;
    border-radius: 4px;
}

.social-icons__item--circle {
    border-radius: 100%;
}
