/* 
==========================================================================
GENERIC - CSS Resets
Browser resets, normalize
========================================================================== 
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: inherit;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
  	font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}
